<!DOCTYPE html>
{% extends "main/layout.html" %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">About Us</h3>

                <p class="para-font"><span class="cl-red-2">We</span> are a restaurant automation system with a
                    difference. From
                    automating restaurant operations,
                    minimizing losses and optimizing time and resources, Devourin offers you a vast and varied range of
                    products for
                    all your needs: including a <span class="blue-word">QR code</span> based <span class="blue-word">Digital Menu, POS, Inventory</span>
                    &amp; <span class="blue-word">Recipe</span> Management,
                    self-ordering <span class="blue-word">kiosk</span>,
                    interactive <span class="blue-word">digital signages, mobile apps</span> for staff and owners to
                    stay ahead of the
                    competition, website for online
                    ordering and much more. From BPCL to QSR to fine dines, the beauty of our technology is that it can
                    be adapted
                    to restaurant spaces across geographies. What runs like a continuous thread throughout is its
                    versatility
                    and user-friendliness.</p>

            </div>

        </div>

    </div>

    {% include "main/footer.html" %}

{% endblock content %}