<!DOCTYPE html>

{% extends "main/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                    <h3 class='alert alert-success text-center'>Send Us Your Valuable Feedback !</h3>
                    <h3 class='alert alert-success text-center'> {{ request.session.msg }} </h3>
                   <form method="POST"  enctype="multipart/form-data" class="mb-3">
                        {% csrf_token %}
{#                        {{ form.name}}#}
                         <fieldset class="form-group">

                        {{ form|crispy }}
                    </fieldset>

                        <input type="submit" value="Send Feedback"/>
                    </form>

            </div>
        </div>
    </div>
    {% include "main/footer.html" %}
{% endblock content %}